<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="navigation" class="mb-8">
        <nav class="flex space-x-1">
            <a th:href="@{/dashboard}"
               class="px-4 py-2 rounded-lg"
               th:classappend="${companies == null and users == null and movements == null? 'bg-blue-600 text-white' : 'text-gray-600 hover:bg-gray-100'}">Dashboard</a>
            <a th:href="${sub.role.role == 'superUser'} ? @{/companies} : @{|/companies/${companyId}/movements|}"
               th:text="${sub.role.role == 'superUser' ? 'Empresas' : 'Movimientos'}"
               class="px-4 py-2 rounded-lg"
               th:classappend="${(companies != null and users == null) or movements != null ? 'bg-blue-600 text-white' : 'text-gray-600 hover:bg-gray-100'}"></a>
            <a th:href="${sub.role.role == 'superUser'} ? @{/users} : @{|/companies/${companyId}/users|}"
               class="px-4 py-2 rounded-lg"
               th:classappend="${users != null ? 'bg-blue-600 text-white' : 'text-gray-600 hover:bg-gray-100'}">Usuarios</a>
        </nav>
    </div>
</body>
</html>